@mixin SectionsTitle($content){
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $gray2;
  margin-bottom: 33px;

  &::before{
    content: $content;
    position: absolute;
    left: -80px;
    bottom: 0;
    color: $backgroundContrast;
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
  }
}
