$black: #272727;
$white: #fff;
$gray1: rgba(39,39,39,0.7);
$gray2: rgba(39,39,39,0.5);

$textMain: #272727;
$textContrast: #fff;
$textSelected: #5057FF;

$background: #F0F1F5;
$backgroundContrast: #5057FF;

$iconSelected: #72BEFF;
